<div *ngIf="loginService.isAUserLogedIn()">
    <app-shownavbar></app-shownavbar>
</div>

<div *ngIf="!hasResults">

    <h4 class="text-success text-center">{{ 'VIEWTRAIN.TITLE' | translate}}.</h4>

    <app-gonogo></app-gonogo>
</div>


<div *ngIf="hasResults">   

    <div class="container mt-3">
        <div class="row align-items-center">
            <div class="col-md-4 mx-auto">
                <app-showtestresult></app-showtestresult>
            </div>
        </div>
    </div>

    <div class="text-center mt-3">
        <button class="btn btn-warning btn-lg" (click)="restartTest()">{{ 'VIEWTRAIN.RESTART' | translate}}.</button>
    </div>    
</div>
