<div *ngIf="loginService.isAUserLogedIn()">
    <app-shownavbar></app-shownavbar>
</div>

<div class="container text-center">
    <h1 class="text-primary">{{ 'VIEWHIST.TITLE' | translate }}</h1>
</div>

<div class="container text-end mb-2">
    {{ 'VIEWHIST.DAYS' | translate }} &nbsp;&nbsp;
    <select class=" btn  btn-success" name="demo" id="#" (change)="selectChangeHandler($event)">
        <option class="btn-dark" value="1">1</option>
        <option class="btn-dark" value="3">3</option>
        <option class="btn-dark" selected="selected" value="7">7</option>
        <option class="btn-dark" value="15">15</option>
    </select>    
</div>

<div class="container">
<table class="table text-center">
    <thead class="table-dark">
      <tr>
        <th>{{ 'VIEWHIST.DATE' | translate }}</th>
        <th>{{ 'VIEWHIST.RT' | translate }} (ms)</th>
        <th>{{ 'VIEWHIST.GOFAIL' | translate }}</th>
        <th>{{ 'VIEWHIST.NOGOFAIL' | translate }}</th>        
        <th>{{ 'VIEWHIST.AUTO_FATIGUE' | translate }}</th>        
        <th>{{ 'VIEWHIST.PREDICTION' | translate }}</th>
        <th>{{ 'VIEWHIST.DESC' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of testResults " class="table-warning">
        <td>{{item.timestamp}}</td>
        <td>{{item.goavg}}</td>
        <td>{{item.gofailnumber}}</td>
        <td>{{item.nogofailnumber}}</td>
        <td>{{item.selfFatigueLevel}}</td>
        <td>{{item.predictedFatigueLevel}}</td>                
        <td>{{item.fatigueLevelDescription}}</td>                
      </tr>
    </tbody>
  </table>
</div>




