<!--
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>
-->

<h1></h1>


<div *ngIf="loginService.isAUserLogedIn()">
    <app-shownavbar></app-shownavbar>
</div>


<!--
    Bootstrap 5.0 login, inspired from: https://bbbootstrap.com/snippets/bootstrap-5-login-form-using-neomorphism-89456141
    ICONS FROM: https://icons.getbootstrap.com/#usage
-->

<div *ngIf="!loginService.isAUserLogedIn()">
    
    <div class="d-flex flex-row bd-highlight mb-3 bg-dark">
        <img class="img-fluid" style="height: 110px;" src="./../assets/login/gonogodadossmall.png">

        <div class="container-fluid p-3 bg-dark text-white text-center">
            <h1> {{ 'LOGIN.BAR.TITLE' | translate}} </h1>
            <p>{{ 'LOGIN.BAR.SUB_TITLE' | translate}}</p>
        </div>

        <div class="pt-3 mx-2" style="height: 60px; width: 60px;">
            <app-langselector></app-langselector>
        </div>
    </div>

    <!-- ALERT Wrong password -->
    <div id="alert_box" class=" text-center justify-content-center " *ngIf="loginService.showLogin401Message">
        <div class="alert alert-warning px-5 py-2" style="height: 40px;display:inline-block;">            
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>
            &#160; &#160;
            <strong>{{ 'LOGIN.MESSAGE.WARNING' | translate}}!</strong> {{ 'LOGIN.MESSAGE.FAILED_401' | translate}}
        </div>        
    </div>   

    <div class="wrapper">
        <div class="logo"> <img src="./../../assets/login/login-icon-vector-user-symbol.jpg" alt=""> </div>
        <div class="text-center mt-4 name"> {{ 'LOGIN.CARD.LOGIN' | translate}} </div>
        <form class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
                <input type="text" [(ngModel)]="myUsername" id="userName" placeholder="{{ 'LOGIN.CARD.USERNAME' | translate}}" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                    <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                </svg>
                <input type="password" name="password" id="pwd" [(ngModel)]="myPassword" [ngModelOptions]="{standalone: true}"
                    (keyup.enter)="doLogin(myUsername, myPassword)" placeholder="{{ 'LOGIN.CARD.PASSWORD' | translate}}">
            </div>
            <button class="btn mt-3" (click)="doLogin(myUsername, myPassword)">{{ 'LOGIN.CARD.SUBMIT' | translate}}</button>
        </form>
        <!--
        <div class="text-center fs-6"> <a href="#">{{ 'LOGIN.CARD.FORGOT' | translate}}</a> {{ 'LOGIN.CARD.OR' | translate}} <a href="{{registerUrl}}">{{ 'LOGIN.CARD.SIGNUP' | translate}}</a> </div>
        -->
        <div class="text-center fs-6"> <a href="{{registerUrl}}">{{ 'LOGIN.CARD.SIGNUP_TEXT' | translate}}.</a> </div>
    </div>
    

</div>

<div *ngIf="loginService.isAUserLogedIn()">
    <app-userview></app-userview>
</div>
