<!-- <p>gonogo works!</p> -->

<div layout-align="center center" style='width:800;height:600;border:0px     solid black;background-color:black'>
    <canvas #canvas width="800" height="600" (click)="clickOnCanvas()"></canvas>
</div>
