<div class="container">

<div class="d-flex justify-content-center ">
<div class="card mt-3 shadow-lg" style="width:400px">
    <div class="card-header text-center h2 text-white bg-success ">{{ 'USERVIEW.TITLE' | translate }}</div>
    <div class="card-body">
      
        <!--
        <img class="card-img-top" src="img_avatar1.png" alt="Card image">
        -->
        <div class="text-center">
            <img class="card-img-top rounded-pill"
                src="./../../assets/login/login-icon-vector-user-symbol.jpg"  alt="Avatar Logo" style="width:140px; margin: 1px 1px 1px 1px;" >             
            <br>
            <label class="h2 text-success">{{loginService.myUser.username}}</label>
            <br>
        </div>
        

        <!--
        <div class="row">
            <div class="col-8">
                <label class="h5">{{ 'USERVIEW.USERNAME' | translate }}:</label>
            </div>
            <div class="col-4 text-end">
                <span class="text-end"> {{loginService.myUser.username}}  </span> 
                <br>
            </div>
        </div>
        -->

        <div class="row">
            <div class="col-8">
                <label class="h5 text-primary">{{ 'USERVIEW.GENDER' | translate }}:</label>
            </div>
            <div class="col-4 text-end">
                <div *ngIf="loginService.myUser.gender == male"> 
                    <span class="text-end"> {{ 'USERVIEW.MALE' | translate }}  </span> 
                </div>
                <div *ngIf="loginService.myUser.gender == female">
                    <span class="text-end"> {{ 'USERVIEW.FEMALE' | translate }}  </span> 
                </div>
                <div *ngIf="loginService.myUser.gender == unknown">
                    <span class="text-end"> {{ 'USERVIEW.UNKNOWN' | translate }}  </span> 
                </div>                
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <label class="h5 text-primary">{{ 'USERVIEW.BIRTHDATE' | translate }}:</label>
            </div>
            <div class="col-4 text-end">
                <div class="dropdown">
                    <a class="btn btn-warning dropdown-toggle mr-3" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ 'USERVIEW.BIRTHDATE_SHOW' | translate }}
                    </a>
                
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item">{{loginService.myUser.birthdate}}</a></li>                    
                    </ul>
                </div>

                <!--
                    <span class="text-end"> {{loginService.myUser.birthdate}}  </span>                 
                -->
            </div>
            <br>
        </div>
        <br>
        <div class="row">
            <div class="col-8">
                <label class="h5 text-primary">{{ 'USERVIEW.LINGUA' | translate }}:</label>
            </div>
            <div class="col-4 text-end">
                <div *ngIf="loginService.myUser.lingua == lingua_pt">
                    <span class="text-end"> {{ 'USERVIEW.LINGUA_PT' | translate }}  </span> 
                </div>
                <div *ngIf="loginService.myUser.lingua == lingua_en">
                    <span class="text-end"> {{ 'USERVIEW.LINGUA_EN' | translate }}  </span> 
                </div>    
                <br>
            </div>
        </div>

        <div class="text-center">
                <label class="h5 text-primary">{{ 'USERVIEW.RGPD' | translate }}:</label>
            
                <div *ngIf="loginService.myUser.rgpd == rgpd_concent_ok">
                    <span class="text-end"> {{ 'USERVIEW.RGPD_YES' | translate }}  </span> 
                </div>
                <div *ngIf="loginService.myUser.rgpd != rgpd_concent_ok">
                    <span class="text-end"> {{ 'USERVIEW.RGPD_NO' | translate }}  </span> 
                </div>
                <br>            
        </div>
      
        
    </div>
  </div>
</div>


  
</div>