  
    <div class="form_top_block container align-items-center">

        

                <div class="card shadow-lg ">

                    <div class="card-header text-center h2 text-white bg-dark"> {{ 'FATIGUE.TITLE' | translate }}</div>
                    <p class="m-2 fw-bold text-success">
                      {{ 'FATIGUE.SUB_TITLE' | translate }}    
                    </p>
                    

                    
                <form [formGroup]="scaleform" (ngSubmit)="submitFatigue()">

                    <div class="card btn-group-vertical m-2">      
                        
                            <input type="radio" class="btn-check " id="btn-check01" value="1" formControlName="scaleValueController">                                
                            <label class="btn btn-outline-success " for="btn-check01">{{ 'FATIGUE.L1' | translate }}</label>
                        
                            <input type="radio" class="btn-check " id="btn-check02" value="2" formControlName="scaleValueController">                                
                            <label class="btn btn-outline-success" for="btn-check02">{{ 'FATIGUE.L2' | translate }}</label>

                            <input type="radio" class="btn-check " id="btn-check03" value="3" formControlName="scaleValueController">
                            <label class="btn btn-outline-success " for="btn-check03">{{ 'FATIGUE.L3' | translate }} </label>
                        
                            <input type="radio" class="btn-check " id="btn-check04" value="4" formControlName="scaleValueController">
                            <label class="btn btn-outline-warning " for="btn-check04">{{ 'FATIGUE.L4' | translate }} </label>

                            <input type="radio" class="btn-check " id="btn-check05" value="5" formControlName="scaleValueController">
                            <label class="btn btn-outline-warning " for="btn-check05">{{ 'FATIGUE.L5' | translate }} </label>

                            <input type="radio" class="btn-check " id="btn-check06" value="6" formControlName="scaleValueController">
                            <label class="btn btn-outline-danger " for="btn-check06">{{ 'FATIGUE.L6' | translate }} </label>

                            <input type="radio" class="btn-check " id="btn-check07" value="7" formControlName="scaleValueController">
                            <label class="btn btn-outline-danger " for="btn-check07">{{ 'FATIGUE.L7' | translate }} </label>
                        
                    </div>
                    <p>
                        <div *ngIf="!fatiguePostedOk" class=" align-items-center text-center mb-2">
                            <button class="btn btn-success " type="submit" [disabled]="!scaleform.valid"> {{ 'FATIGUE.SUBMIT' | translate }}</button>
                        </div>                                            

                </form>
            </div >
             
    </div>



<!--
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
            </div>
            <div class="col-3"></div>
        </div> 

    <div class="container align-items-center">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8">
            <div class="card border-dark rounded-pill " style="background-color: DarkSeaGreen ">        
              <div class="card-body">
                <h1 class="card-title text-center text-success">Resultados</h1>          
              </div>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>

        <ul class="list-group">
        <li class="list-group-item">First item</li>
        <li class="list-group-item">Second item</li>
        <li class="list-group-item">Third item</li>
      </ul> 

                    <p> <label>
                    <input type="radio" value="1" formControlName="scaleValueController">&nbsp;
                    <span> L1 </span>
                </label> </p>
-->