<div *ngIf="loginService.isAUserLogedIn()">
    <app-shownavbar></app-shownavbar>
</div>

<div *ngIf="showGonogoTestDiv">
    <app-gonogo></app-gonogo>
</div>

<div *ngIf="showFatigueQuestionsDiv">

    <div class="mt-3">
        <div class="container row">
            <div class="col-1"></div>
            <div class="col-4">
                <app-showtestresult></app-showtestresult>
            </div>
            <div class="col-7">
                <app-fatigue></app-fatigue>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

</div>

<br>
<div *ngIf="showRestart">
    <div class="text-center">
        <button class="btn btn-warning btn-lg" (click)="restartTest()">{{ 'TESTEFADIGA.RESTART' | translate}}.</button>
    </div>    
</div>