<nav class="navbar navbar-expand-sm bg-dark navbar-dark mt-0 mb-0 ml-0 pt-0 pb-0 pl-0">
    <div class="container-fluid mt-0 mb-0 ml-0 pt-0 pb-0 pl-0">
        
        <img class="navbar-brand mt-0 mb-0 ml-0 pt-0 pb-0 pl-0" style="height: 60px;" src="./../assets/login/gonogodadossmall.png">
        

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " routerLink="/login" routerLinkActive="active" href="login">{{ 'NAVBAR.LOGIN' | translate}}</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link " routerLink="/testfatigue" routerLinkActive="active" href="#">{{ 'NAVBAR.TEST' | translate}}</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link " routerLink="/hist" routerLinkActive="active" href="#">{{ 'NAVBAR.HIST' | translate}}</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link " routerLink="/train" routerLinkActive="active" href="#">{{ 'NAVBAR.TRAIN' | translate}}</a>
                </li>
            </ul>
        </div>

        <Div class="text-end" style="color: white;">
            <span> {{loginService.displayUsername}} </span><br>
            <span><a class="fs-6" role="button" routerLink="/login" (click)="loginService.doLogout()">{{ 'NAVBAR.LOGOUT' | translate}}</a></span>
        </Div>

        <!--
        <div class="d-flex flex-column" style="color: white;">
            <div class="p-1 flex-fill">Flex item 1</div>
            <div class="p-0  flex-fill .small">Flex item 2</div>            
        </div>
        -->

        <a class="navbar-brand" href="#">
            <img src="./../../assets/login/login-icon-vector-user-symbol.jpg"  alt="Avatar Logo" style="width:40px; margin: 4px 4px 4px 4px;" class="rounded-pill">             
        </a>

        <div class="pt-1 mx-1" style="height: 40px; width: 40px;">
            <app-langselector></app-langselector>
        </div>


    </div>
</nav>
