<!-- <p>showresult works!</p> -->

<div *ngIf="goService.lastTestResult">
 


<p class="mb-5 mt-5"></p>
<div class="container align-items-center">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="card border-dark rounded-pill " style="background-color: DarkSeaGreen ">        
        <div class="card-body">
          <h1 class="card-title text-center text-success">{{'SHOW_GECAD_RESULT.TITLE' | translate }}</h1>          
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<p class="mb-5 mt-5"></p>


<div class="container align-items-center">
      <div class="row">
        <div class="col-2"></div>

        <div class="col-4">
          <div class="card shadow-lg" >
            <div class="card-header text-center h2 bg-primary text-white">{{'SHOW_GECAD_RESULT.GONOGO' | translate }}</div>
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <label class="h5">{{'SHOW_GECAD_RESULT.AVERAGE' | translate }} </label>
                </div>
                <div class="col-4 text-end">
                  <span class="text-end">{{goService.lastTestResult.goavg}} ms</span> <br>
                </div>
              </div>
    
              <p class="mb-10"></p>
    
              <div class="row">
                <div class="col-8">
                  <label class="h5">{{'SHOW_GECAD_RESULT.NUMBER_GO_FAILS' | translate }}</label>
                </div>
                <div class="col-4 text-end">
                  <span class="text-end"> {{goService.lastTestResult.gofailnumber}} {{'SHOW_GECAD_RESULT.OF' | translate }} {{goService.lastTestResult.gotrialnumber}} </span> 
                <span class="text-end"> ({{ Math.floor((100 * goService.lastTestResult.gofailnumber )/ goService.lastTestResult.gotrialnumber)}}%)</span>
                <br>
                </div>
              </div>
              
              <div class="row">
                <div class="col-8">
                  <label class="h5">{{'SHOW_GECAD_RESULT.NUMBER_NOGO_FAILS' | translate }}</label>
                </div>
                <div class="col-4 text-end">
                  <span class="text-end"> {{goService.lastTestResult.nogofailnumber}} {{'SHOW_GECAD_RESULT.OF' | translate }} {{goService.lastTestResult.nogotrialnumber}} </span> 
                <span class="text-end"> ({{ Math.floor((100 * goService.lastTestResult.nogofailnumber )/ goService.lastTestResult.nogotrialnumber)}}%)</span>
                <br>
                </div>
              </div>
             
    
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card shadow-lg " >
            <div class="card-header text-center h2 bg-warning text-white">{{'SHOW_GECAD_RESULT.FATIGUE' | translate }}</div>
            <div class="card-body">
              <h4 class="card-title text-center">{{'SHOW_GECAD_RESULT.FATIGUE_LEVEL' | translate }}</h4>
              <h3 class="text-center"> {{goService.lastTestResult.predictedFatigueLevel}}</h3>               
                <h4 class="card-text text-center">{{'SHOW_GECAD_RESULT.DESCRIPTION' | translate }}</h4>
                <h6 class="text-center"> {{goService.getFatigueLevelDescription()}}</h6>              
            </div>
          </div>
        </div>

        <div class="col-2"></div>
      </div>
</div>

</div>