<!-- <button (click)="getIp()"> test </button> -->



<div class="d-flex flex-row bd-highlight mb-3 bg-dark">
  <img class="img-fluid" style="height: 100px;" src="./../assets/login/gonogodadossmall.png">

  <div class="container-fluid p-3 bg-dark text-white text-center " style="height: 100px;">
      <h1> {{ 'VIEWTEST.BAR_TITLE' | translate }}</h1>
      <p>{{ 'VIEWTEST.BAR_SUB_TITLE' | translate }}</p>
  </div>

  <div class="pt-2 mx-2" style="height: 60px; width: 60px;">
    <app-langselector></app-langselector>
  </div>
  
</div>

<div *ngIf="showAgeGenderSelector">
    <div class = "text-center">        

        <form [formGroup]="genderAgeForm" (ngSubmit)="onSubmitAgeGender()">
            <h2 class="h2 text-success pb-4">{{ 'VIEWTEST.SELECTOR.TITLE' | translate }}</h2>
            <div class="d-flex justify-content-center text-center">
                <div class="btn-group m-2">

                    <input type="radio" class="btn-check " id="btn-check01" value="{{optionMale}}"
                        formControlName="genderValueController">
                    <label class="btn btn-outline-primary " for="btn-check01">{{ 'VIEWTEST.SELECTOR.MALE' | translate }}</label>

                    <input type="radio" class="btn-check " id="btn-check02" value="{{optionFemale}}"
                        formControlName="genderValueController">
                    <label class="btn btn-outline-danger" for="btn-check02">{{ 'VIEWTEST.SELECTOR.FEMALE' | translate }}</label>

                </div>

                <div>
                <select class="form-select selectpicker form-select-lg  text-center"  style="width:auto;" formControlName="ageValueController" >
                    <option value="0" class="text-danger" selected>{{ 'VIEWTEST.SELECTOR.DROP-TOP' | translate }}</option>
                    <option value="10" >{{ 'VIEWTEST.SELECTOR.DROP-10' | translate }}</option>
                    <option value="30" >{{ 'VIEWTEST.SELECTOR.DROP-30' | translate }}</option>
                    <option value="50" >{{ 'VIEWTEST.SELECTOR.DROP-50' | translate }}</option>
                    <option value="70" >{{ 'VIEWTEST.SELECTOR.DROP-70' | translate }}</option>                    
                  </select>
                </div>

            </div>
            
                <div class=" align-items-center text-center mb-2 pt-4 ">
                    <button class="btn btn-lg btn-success " type="submit" [disabled]="!genderAgeForm.valid"> {{ 'VIEWTEST.SELECTOR.CONTINUE' | translate }}</button>
                </div>
        </form>

    </div>
</div>


<div *ngIf="showResultDiv">
    <app-showgecadresult></app-showgecadresult>
</div>

<div *ngIf="showGonogoTestDiv">
    <app-gonogo></app-gonogo>
</div>
