<div>    
    <img class="mt-0 mb-0 ml-0 pt-0 pb-0 pl-0"  
        style="cursor: pointer;"
        src='{{"./../assets/flags/"+ newLanguage + ".svg"}}' 
        title="{{ 'LANGSELECTOR.IMAGE_HOVER_TEXT' | translate }}" 
        (click)="selectNewLanguage()"
        >
</div>



<!-- <img class="mt-0 mb-0 ml-0 pt-0 pb-0 pl-0" style="height: 60px;" src='{{"./../assets/flags/"+ newLanguage + ".svg"}}'>-->
