
<div *ngIf="fatiguePostedOk" class="card shadow-lg">
    <div class="card-header text-center h2 text-white bg-success">{{ 'SHOW_TEST_RESULT.TITLE' | translate }}</div>
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <label class="h5">{{ 'SHOW_TEST_RESULT.AVERAGE' | translate }} </label>
            </div>
            <div class="col-4 text-end">
                <span class="text-end">{{goService.lastTestResult.goavg}} ms</span> <br>
            </div>
        </div>

        <p class="mb-10"></p>

        <div class="row">
            <div class="col-8">
                <label class="h5">{{ 'SHOW_TEST_RESULT.NUMBER_GO_FAILS' | translate }}</label>
            </div>
            <div class="col-4 text-end">
                <span class="text-end"> {{goService.lastTestResult.gofailnumber}} {{ 'SHOW_TEST_RESULT.OF' | translate }} {{goService.lastTestResult.gotrialnumber}} </span> 
                <span class="text-end"> ({{ Math.floor((100 * goService.lastTestResult.gofailnumber )/ goService.lastTestResult.gotrialnumber)}}%)</span>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <label class="h5">{{ 'SHOW_TEST_RESULT.NUMBER_NOGO_FAILS' | translate }}</label>
            </div>
            <div class="col-4 text-end">
                <span class="text-end"> {{goService.lastTestResult.nogofailnumber}} {{ 'SHOW_TEST_RESULT.OF' | translate }} {{goService.lastTestResult.nogotrialnumber}} </span> 
                <span class="text-end"> ({{ Math.floor((100 * goService.lastTestResult.nogofailnumber )/ goService.lastTestResult.nogotrialnumber)}}%)</span>
                <br>
            </div>
        </div>


    </div>
</div>

<div *ngIf="fatiguePostedOk" class="card mt-3 shadow-lg">
    <div class="card-header text-center h2 text-white bg-warning ">{{ 'SHOW_TEST_RESULT.PREDICTION_TITLE' | translate }}</div>
    <div class="card-body">
      <h4 class="card-title text-center">{{ 'SHOW_TEST_RESULT.FATIGUE_LEVEL' | translate }}</h4>

      <h3 *ngIf="goService.lastTestResult.isRated" class="text-center"> {{goService.lastTestResult.predictedFatigueLevel}}</h3>               
      <h3 *ngIf="!goService.lastTestResult.isRated" class="text-center"> {{ 'SHOW_TEST_RESULT.PREDICTION_PENDING' | translate }}</h3>  

        <h4 class="card-text text-center">{{ 'SHOW_TEST_RESULT.DESCRIPTION' | translate }}</h4>
        <div *ngIf="!goService.lastTestResult.isRated">
            <h6 class="text-center"> {{ 'SHOW_TEST_RESULT.PREDICTION_NO_DESCRIPTION' | translate }}</h6>              
        </div>

        <div *ngIf="goService.lastTestResult.isRated">
            <h6  *ngIf="goService.lastTestResult.predictedFatigueLevel == 1" class="text-center"> {{ 'MODEL.L1' | translate }}</h6>              
            <h6  *ngIf="goService.lastTestResult.predictedFatigueLevel == 2" class="text-center"> {{ 'MODEL.L2' | translate }}</h6>              
            <h6  *ngIf="goService.lastTestResult.predictedFatigueLevel == 3" class="text-center"> {{ 'MODEL.L3' | translate }}</h6>              
            <h6  *ngIf="goService.lastTestResult.predictedFatigueLevel == 4" class="text-center"> {{ 'MODEL.L4' | translate }}</h6>              
            <h6  *ngIf="goService.lastTestResult.predictedFatigueLevel == 5" class="text-center"> {{ 'MODEL.L5' | translate }}</h6>              
            <h6  *ngIf="goService.lastTestResult.predictedFatigueLevel == 6" class="text-center"> {{ 'MODEL.L6' | translate }}</h6>              
            <h6  *ngIf="goService.lastTestResult.predictedFatigueLevel == 7" class="text-center"> {{ 'MODEL.L7' | translate }}</h6>              
        </div>
        
    </div>
</div>